.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Common tags */

/* * {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
} */

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', sans-serif;
}


/* Background Colors */

.background-dark {
  background-color: rgb(25, 33, 41);
  color: white;
}


/* Styling Navbar hover */


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  width: 200px;
  padding-top: 10px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}

/* Components inside Sign In in NavBar */

/* Logo Image */

.logo-brand {
  width: 130px;
  position: relative;
}
 /* Logo Brand */

 .brand {
   font-size: 25px;
   margin-right: 25%;
 }


/* Button Sign In */

.btn-signin {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin-top: 10px;
  padding: 8px 30px;
  background-color: #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
  
.btn-signin:hover {
  background: #8F8F8F;
  border: solid #8F8F8F 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
}

/* Link to singup */

.small-notification {
  font-size: 12px;
}

.small-notification a {
  display: inline;
  margin: 0;
}

/* Shopping bag */

.list-items {
  font-size: 14px;
}

#shop-bag {
  height: 100px;
  color: red;
  padding-top: 5%;
}

.name-display {
  text-align: left;
}

.value-display {
  text-align: right;
}

/* Products Section */
.box-products {
  padding: 5% 12%;
}

.cardview {
	display: inline-block;
	text-align: left;
	position: relative;
	width:12%;
	max-height: 350px;
	margin: 0 15px 20px 15px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.18),
		0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}
	.cardview img{
		display: block;
		position: relative;
		background-position: center center;
		background-size: cover;
		height: 180px;
		width: 100%;
		top: 0;
	}
.cardview .content{
	position: relative;
  padding: 15px 20px;
  text-align: center;
}
.cardview h1{
	font-size: 19px;
	font-weight: 500;
	margin: 0 0 12px 0;
}
.cardview p{
	font-size: 14px;
	margin: 0 15px 15px 0;
}
.cardview a{
	font-size: 14px;
	position: relative;
	text-decoration:none;
	color: #9e9ea2;
	text-transform: uppercase;
	padding: 10px 6px;
	-webkit-transition: 0.3s ease-in-out background;
   -moz-transition: 0.3s ease-in-out background;
   -o-transition: 0.3s ease-in-out background;
   transition: 0.3s ease-in-out background;
}
.cardview a:hover{
	background: rgba(0,0,0,0.04);
	border-radius: 6px;
}
@media screen and (max-width: 830px){
	.cardview{
		width: 44%;
	}
}
@media screen and (max-width: 590px){
	.cardview{
		width: 80%;
  }
}
	@media screen and (max-width: 530px){
	.cardview{
		width: 85%;
		margin: 15px auto;
	}
}

/* HOME PAGE */

html,body{
  width: 100%;
  height: 100%;
}

.container{
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

h1{
  position: relative;
  margin-bottom: 45px;
  font-family: 'Oswald', sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
  
.item:hover{
    flex: 7;
}

.item-1 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028243/ecommerce_ironhack3/000012_ph5bgx.png');
}

.item-2 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028234/ecommerce_ironhack3/000030_bbtqm4.png');
}

.item-3 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028238/ecommerce_ironhack3/000023_ml9htb.png');
}

.item-4 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028232/ecommerce_ironhack3/000029_pyylye.png');
}

.item-5 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028224/ecommerce_ironhack3/000037_hn9dye.png');
}

.social{
  position: absolute;
  right: 35px;
  bottom: 0;
}
  
.social > img {
    display: block;
    width: 32px;
}