@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}
/* 
h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', sans-serif;
} */

header {
  font-size: 16px;
}
/* Styling Navbar hover */

.link-navbar:hover {
  text-decoration: none;
  color: #424242;
}

.link-navbar {
  text-decoration: none;
  color: black;
  margin: 10px;
}

#navbar {
  font-size: 1.4rem;
  margin: 1% 5% 0%;
  /* flex-flow: column; */
}

#navbar-logo {
  flex-flow: column;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  width: 200px;
  padding-top: 10px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: none;
}

/* Components inside Sign In in NavBar */

/* Logo Image */

.logo-brand {
  width: 70px;
  position: relative;


  font-family: 'Kalam', cursive;
  font-size: 45px;
  color: #000000;  
  text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #000000;
}
 /* Logo Brand */

 .brand {
   font-size: 25px;
   margin-right: 20%;
 }


/* Button Sign In */

.btn-signin {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin-top: 10px;
  padding: 8px 30px;
  background-color: #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
  
.btn-signin:hover {
  background: #8F8F8F;
  border: solid #8F8F8F 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  text-decoration: none;
}
/* CheckBox in Update form */

#isDesigner {
  border-radius: 50px;
  margin: 7% 0%;
}


/* Link to singup */

.small-notification {
  font-size: 12px;
}

.small-notification a {
  display: inline;
  margin: 0;
}

/* Shopping bag */

.list-items {
  font-size: 14px;
}

#shop-bag {
  height: 100px;
  color: red;
  padding-top: 5%;
}

.name-display {
  text-align: left;
}

.value-display {
  text-align: right;
}

.total-pur {
  text-align: end;
}
/* Search placeholder */

#search {
  margin: 5%;
  padding: 0.5%;
}


/* Products Section */
.box-products {
  padding: 5% 12%;
}


.cardview {
	display: inline-block;
	text-align: left;
	position: relative;
	width:100%;
	max-height: 380px;
	margin: 0 15px 20px 15px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.18),
		0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}
	.cardview .card-img {
		display: block;
		position: relative;
		background-position: center center;
		background-size: cover;
		height: 230px;
		width: 100%;
    top: 0;
  }
   
.cardview .content{
	position: relative;
  padding: 2%; 
  /* padding: 25px 20px; */
  text-align: center;


}
.cardview h1{
	font-size: 19px;
	font-weight: 500;
	margin: 0 0 12px 0;
}
.cardview p{
	font-size: 18px;
  margin: 1%;
}
.cardview a{
	font-size: 14px;
	position: relative;
	text-decoration:none;
	color: #9e9ea2;
	text-transform: uppercase;
	padding: 10px 6px;
	-webkit-transition: 0.3s ease-in-out background;
   -moz-transition: 0.3s ease-in-out background;
   -o-transition: 0.3s ease-in-out background;
   transition: 0.3s ease-in-out background;
}
.cardview a:hover{
	background: rgba(0,0,0,0.04);
	border-radius: 6px;
}
@media screen and (max-width: 2552px){
	.cardview{
		width: 20%;
	}
}
@media screen and (max-width: 1920px){
	.cardview{
		width: 20%;
	}
}
@media screen and (max-width: 1200px){
	.cardview{
		width: 25%;
	}
}
@media screen and (max-width: 992px){
	.cardview{
		width: 25%;
	}
}
@media screen and (max-width: 840px){
	.cardview{
		width: 40%;
  }
}
	@media screen and (max-width: 600px){
	.cardview{
		width: 100%;
		margin: 15px auto;
	}
} 

@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

/* ADD PRODUCT TO WISHLIST */

.heart-click {
  width: 20%;
  position: relative;
  left:45%;
}


/* HOME PAGE */

html,body{
  width: 100%;
  height: 100%;
  padding: 1% 8.5%;
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.05rem;

}

.container{
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

/* h1{
  position: relative;
  margin: 7%;
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'ABeeZee', sans-serif;
  font-size: 40px; */
  /* text-transform: uppercase; */
  /* color: #424242; */


.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
  
.item:hover{
    flex: 7;
}

.item-1 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028243/ecommerce_ironhack3/000012_ph5bgx.png');
}

.item-2 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028234/ecommerce_ironhack3/000030_bbtqm4.png');
}

.item-3 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028238/ecommerce_ironhack3/000023_ml9htb.png');
}

.item-4 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028232/ecommerce_ironhack3/000029_pyylye.png');
}

.item-5 { 
  background-image: url('https://res.cloudinary.com/veroca/image/upload/v1586028224/ecommerce_ironhack3/000037_hn9dye.png');
}

.social{
  position: absolute;
  right: 35px;
  bottom: 0;
}
  
.social > img {
    display: block;
    width: 32px;
}

/* Decription Product */

.card {
  padding: 15px 10px;
  width: 100%;
  /* margin: 2% 7%; */
  border: none;
  height: 80%;
}
.card-text {
  display: flex;
  font-size: 1rem;
  margin-left: 30px;
}
.info-box {
  padding: 10% 5% 0% 0%;
}
.size-box {
  margin: 0% 0% 5% 8%;
}

.size-box select {
  width: 100%;
  height: 40px;
  position: relative;
  background-color: transparent;
  border-color: gray;
  color: gray; 
}

.cost-box {
  margin-left: 14%;
}

.material-box {
  margin-left: 6%;
}
.cart-btn {
  width: 20px;
  position: absolute;
  bottom: 30px;
  left: 10px;
  transform: translate(100%, 100%);
  transition: all 1s ease-in-out;
}


/* Shopping Bag */

.shop-bag {
  margin: 5% 7%;
}

.shop-bag-img {
  width: 50px;
  margin-left: 20%;
}

.center {
  vertical-align: middle;
  align-self: center;
}
/* Input spinner Quantity */


.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  }
  
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  }
  
  .number-input {
  margin-bottom: 3rem;
  }
  
  .number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
  text-align: center;
  }
  
  .number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
  display: contents;
  }
  
  .number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
  }
  
  .number-input.number-input button.minus {
  padding-left: 10px;
  }
  
  .number-input.number-input button:before,
  .number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
  }
  
  .number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
  }
  
  @media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {
  
  .number-input.def-number-input.safari_only button:before,
  .number-input.def-number-input.safari_only button:after {
  margin-top: -.3rem;
  }
  }
  }


  /* Shopping Bag Empty */

  .text-empty-shop {
    text-align: center;
    margin: 10%;
  }

.box-btns {
  display: list-item;
}

.btn-item {
  width: 110px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 3% 6%;
  margin: 3%;
  color: #fff;
  background-color: #343a40;
  border: solid #343a40 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
  
.btn-item:hover {
  background: #4C4D4E;
  border: solid #4C4D4E 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
}

/* Daily Inspirational */

.wrapper {
  /* height: 420px; */
  /* width: 654px; */
  /* margin: 50px auto; */
  width: 80%;
  height: 500px;
  margin: auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

/* .product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
} */

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 5px 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

/* *======================
    404 page
=======================*/ */


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    margin-left: 17%;
 }
 
 
 .four_zero_four_bg h1{
 font-size: 45px;
 margin-bottom: 3%;
 }
 
  .four_zero_four_bg h3{
			 font-size:50px;
			 }
			 
			 /* .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;} */
	.contant_box_404{ margin-top:-50px;}

.btn-center {
  margin: auto;
}